# Data Analysis
데이터 분석 활용 코드 Repository로 Kaggle과 같은 Data Competition에서 활용할 수 있는 code를 정리해놓은 곳입니다.

기본적인 process를 알 수 있는 code를 시작으로 데이터 분석을 위한 모듈도 만들고 활용 code를 모을 것입니다.

많은 사람들이 대회에 접해서 data 활용 스킬을 길렀으면 좋겠습니다.

아직까지 ML/DL/AI 의 용어활용이 모호한 것 같습니다. 
그래서 저는 data analysis 즉, 데이터분석이 있어야 모델링하여 예측하기 때문에 데이터분석에 초점을 둘 것입니다.

# 1. Library Setting & Data Load

In [1]:
import pandas as pd                         # 데이터 분석 패키지
import numpy as np                          # 계산 패키지

import seaborn as sns                   # 데이터 시각화 라이브러리
import matplotlib.pyplot as plt         # 데이터 시각화 라이브러리

import os
print ('Python version ->', sys.version)
print ('Numpy version ->', np.__version__)
print ('Pandas version ->', pd.__version__)

print (os.listdir('../data'))           #본인의 데이터 파일 경로 설정

['submission.csv', 'test.csv', 'train.csv']

In [2]:
datapath = '../data/' 

train = pd.read_csv(datapath + 'train.csv')
test = pd.read_csv(datapath + 'test.csv')
submission = pd.read_csv(datapath + 'submission.csv')

# 2.Data Description

ex)

#### train
* PassengerId : 승객 고유 id
* Survived : 생존유무(예측변수)
* Name : 승객 이름

#### test
* PassengerId : 승객 고유 id 
* Name : 승객 이름

#### submission
* PassengerId : 승객 고유 id
* Survived : 생존유무(예측변수)

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
#결측값 및 데이터형태 확인
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

# 3.EDA & Preprocessing & Engineering

## 데이터 왜도, 첨도 확인

In [6]:
#column명과 dataframe을 대입하면 왜도와 첨도를 수치로 알려주고 모두 그래프로 그려줍니다.
import math
import seaborn as sns                   # 데이터 시각화 라이브러리
import matplotlib.pyplot as plt         # 데이터 시각화 라이브러리

def ske_kur_check(columns, df, figsize = (15,10)):
    num = len(columns)

    row_num = math.ceil(num/2)

    f, ax = plt.subplots(row_num, 2, figsize = figsize)

    count = 0

    try:
        for row in range(row_num):
  
          for col in range(2):
            sns.distplot(df[columns[count]], ax=ax[row][col])
            print("%s -> Skewness: %f, Kurtosis: %f" %  (columns[count],df[columns[count]].skew(),
                                                 df[columns[count]].kurt()))
            count += 1

    except IndexError:
        print('columns count is odd')

In [22]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
dep_columns = ['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 
                'Ticket', 'Fare', 'Cabin', 'Embarked']
indep_column = 'Survived'

In [ ]:
X_train = train[dep_columns]
y_train = train[indep_column]

## 상관관계 확인 (Correlation Check)

# 4.Model Traing & Validation

현재 제 기준에서 경험적으로 봤을 때, XGBoost와 LightGBM이 제일 강력한 모델인 것 같습니다.

추가적으로 RandomForest도 활용할 수 있다고 생각합니다.

신경망모델을 사용하지 않으면, 위 두가지 모델이 제일 강력하여 기본적으로 사용하는 코드를 작성했습니다.

In [7]:
import xgboost as xgb                       # XGBoost 패키지
import lightgbm as lgb                      # LightGBM - 패키지

## XGBoost 학습

In [ ]:
def xgb_train(X_train, y_train, params):
    
    train = xgb.DMatrix(data = X_train, label = y_train)
    
    print("cv start")
    cv_result = xgb.cv(
        params,
        train,
        num_boost_round=99999,
        nfold=5,
        early_stopping_rounds=100,
        stratified=False,
        verbose_eval=10)

    print("train start")
    xgb_model = xgb.train(
        params,
        train,
        num_boost_round=cv_result.shape[0])
    
    return xgb_model

In [ ]:
xgb_params = {
            'objective': 'reg:squarederror',
            'eval_metric': 'mae',
            'seed':2020
            }

xgb_models = xgb_train(X_train, y_train, xgb_params)

## LightGBM 학습

In [ ]:
def lgb_train(X_train, y_train, params):
    features = list(X_train.columns)
    feature_importance_df = pd.DataFrame()
    
    train = lgb.Dataset(X_train, label=y_train)

    print("cv start")
    cv_result = lgb.cv(
        params,
        train,
        num_boost_round=99999,
        nfold=5,
        early_stopping_rounds=10,
        stratified=False,
        verbose_eval=500
    )

    print("train start")
    lgb_model = lgb.train(
        params,
        train,
        num_boost_round=len(cv_result["l1-mean"])
    )
    
    print("importance feature")
    
    feature_importance_df['feature'] = features
    feature_importance_df['importance'] = lgb_model.feature_importance()
    
    return lgb_model, feature_importance_df

In [ ]:
lgb_params = {
        "objective":"regression",
        "metrics":"mae",
        "learning_rate":0.01,
        'seed':2020
}

lgb_models, lgb_features = lgb_train(X_train, y_train, lgb_params)

## model averaging

보통 2가지 모델을 합치는 경우에선 항상 좋은 결과를 이뤄냈기에 ensemble 기법중 가장 간단한 평균법을 사용하여 최종 결과물을 만들겠습니다.

In [ ]:
xgb_pred = xgb_model.predict(xgb.DMatrix(test.loc[:, dep_columns]))
lgb_pred = lgb_model.predict(lgb.Dataset(test.loc[:, dep_columns]))

In [ ]:
submission.iloc[:, 1] = (xgb_pred+lgb_pred)/2

## Save submission file

In [ ]:
#submission file 관리를 위해 파일 저장시 현재시간을 파일이름으로 저장
#신경망 모델 활용 시 weights 저장 파일이름에서도 활용 가능

from datetime import datetime
from pytz import timezone

date_today = datetime.now(timezone('Asia/Seoul')).strftime("%Y%m%dT%H%M")
print('today time : ' + date_today)

submission.to_csv(datapath + '{}.csv'.format(date_today), index=False)